/* Importing font */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

/* CSS Variables */
:root {
  --font-family: "Tilt Neon", sans-serif;
  --font-size: 1.8rem;
  --font-weight: bold;
  --border-style: 2px solid black;
}

/* Resetting margin and padding, and setting default font */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

/* Hiding overflow on body */
body {
  overflow: hidden;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("../images/background.jpg") repeat-x;
  background-size: 100% 100%;
}

/* Setting font weight for game over and score container */
.gameOver,
#scoreCont {
  font-weight: var(--font-weight);
}

/* Setting margin for game over */
.gameOver {
  margin-left: 20px;
}

/* Styling score container */
#score, #level {
  font-size: 1rem;
  align-items: center;
  border: var(--border-style);
  border-radius: 10px;
  padding: 2px;
  margin-right: 40px;
}

/* Styling text */
.text {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  font-size: var(--font-size);
}

/* Setting width for image1 */
.image1 {
  width: 70px;
}

/* Styling dino */
.dino {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 70px;
  transition: left 0.1s linear;
}

/* Styling obstacle */
.obstacle {
  width: 105px;
  height: 100px;
  position: absolute;
  top: 66vh;
  left: 100vw; /* Set the initial position of the obstacle to the right edge of the window */
}

/* Styling obstacle */
.item {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 66vh;
  left: 100vw; /* Set the initial position of the obstacle to the right edge of the window */
}

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  display: block;
}
.instructions {
  margin-bottom: 20px;
}
#startButton {
  padding: 10px 20px;
  font-size: 1.2rem;
}

.game-over-window {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.final-score {
  color: white;
  font-size: 2rem;
}

#restartButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
}
